<h1>Need Help Writing Science?</h1>

<p>
  My passion is delivering highly-technical material in an accurate, but friendly and easy-to-follow 
  manner. I have always had a passion for science and learning, but I have not always been passionate 
  about how science is portrayed. Science writing is too often dense, dry and jargon laden. But it does not 
  have to be this way. My writing strives to be clear, concise, compelling, while never sacrificing accuracy.
</p>

<p>
  If you are working on your <strong>dissertation</strong>, an <strong>academic publication</strong>, a <strong>grant</strong>, your <strong>CV</strong>, a <strong>cover letter</strong>, your <strong>website</strong>, or have any other <strong>academic writing</strong> that could use a fresh pair of eyes please contact me to discuss your needs.
</p>

<h1>Need Help Talking Science?</h1>

<p>
  I have won numerous awards for my scientific talks, and worked for two years as an Oral 
  Communications tutor at Stanford University. As a tutor I have experience helping a wide-variety of 
  graduate students and post-docs (from physicists to computational biologists, and everything between) 
  communicate their science. Some of my students even went on to earn awards of their own! 
</p>

<p>
  As a tutor my goal is always “to put myself out of a job”-- I will always give you real, constructive 
  feedback and advise that will last you a lifetime in a myriad of communication situations. I can help you 
  with your <strong>organization, clarity, grammar, figure-use, posture, style, voice,</strong> and most importantly -- your 
  <strong>confidence!</strong>
</p> 

<p>
  So if you have an upcoming <strong>dissertation defense, qualifying examination, job interview, conference 
  platform talk, laboratory talk, class presentation,</strong> or <strong>poster presentation</strong> contact me to schedule a 
  custom oral communication Skype tutoring session. 
</p>

<h2>Contact me</h2>

Jennifer Redig, MCR, PhD<br>
jredig@gmail.com