<h1>Articles</h1>

<%= link_to "View Technical Clips", science_articles_path %> | <%= link_to "View General Clips", social_articles_path %>
<% if user_signed_in? %>
  | <%= link_to "Add new article", new_article_path %>
<% end %>

<% @articles.each do |article| %>
  <%= render partial: "layouts/article", locals: { article: article } %>
<% end %>