<h1>Social Articles</h1>
<p>
  One of the benefits of having left research is that I have more time to
  read and write about a wider variety of topics. Here you can find my “non-technical” clips.
</p>

<% @articles.each do |article| %>
  <%= article.title %><br>
  <%= article.short_title %><br>
  <%= article.featured %><br>
  <%= article.link %><br>
<% end %>