* {
  padding: 0;
  margin: 0;
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  line-height: 22px;
  color: #555;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  text-indent: 1em;
}

#content {
  width: 1024px;
  margin: 5em auto;
}

.clear {
  clear: both;
}