#home_banner {
  height: 150px;
  margin: 5em auto;
  text-align: center;
  background-image: image-url('prose_banner.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 250px;

  span {
    font-size: 2em;
  }
}

#bio {
  float: left;
  width: 35%;
  margin-right: 3%;
  border: 1px solid #ddd;
  background-color: #fefefe;
  padding: 1em;

  .bio_pic {
    display: block;
    float: left;
    width: 40%;
    // border-radius: 50%;
    border: 1px solid #999;
    margin-right: 1em;
  }
}

#articles_col {
  float: right;
  width: 58%;
}