section#top_nav {
  height: 13em;
  width: 100%;

  #banner {
    max-width: 1140px;
    margin: 0 auto;
    background-image: image-url("prose_banner.png");
    height: 155px;

    a.logo_link {
      float: left;
      height: 10em;
      width: 350px;
      display: block;
      background-image: image-url("logo.png");
    }
  }

  #centered_nav {
    max-width: 1140px;
    margin: 0 auto;
    border-top: 3px solid #555;
    border-bottom: 1px solid #555;
    height: 3em;

    ul {
    float: right;

      li {
        display: inline-block;
      }
    }

    a {
      display: inline-block;
      padding: 0 2em;
      text-decoration: none;
      color: #c80000;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-variant: small-caps;
      font-size: 1.2em;
      line-height: 2.5em;
      border-left: 1px solid #555;

      &:hover {
        color: #555;
        text-decoration: underline;
      }
    }
  }
}