.thumb_container_link {
  position: relative;
  display: block;
  width: 180px;
  height: 180px;
  float: left;

  .thumb_title_div {
    color: #fff;
    background-image: image-url("dark_trans.png");
    bottom: 0;
    position: absolute;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: .3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    display: none;
  }

  .thumb_damper {
    background-color: #000;
    opacity: 0.65;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  img {
    max-width: 180px;
  }
}