<h1>Science Articles</h1>

<p>
  As a former bench scientist I really enjoy writing on highly technical
  topics. I love the challenge of accurately communicating technical information in a 
  compelling and entertaining manner.
</p>

<ul>
  <%= render partial: "layouts/article", collection: @articles %>
</ul>
